<a href="https://colab.research.google.com/github/S-Narasimman/Airbnb_Chicago_New_Orleans/blob/main/Airbnb_Chicago_New_Orleans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore') #filter warning to ingnore

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
New_Orleans_raw = pd.read_csv("/content/drive/MyDrive/M2 Classroom Practice/Personal_Project/New Orleans.csv")

In [ ]:
Chicago_raw = pd.read_csv("/content/drive/MyDrive/M2 Classroom Practice/Personal_Project/Chicago.csv")

In [ ]:
New_Orleans_raw.shape

(7522, 18)

In [ ]:
Chicago_raw.shape

(8604, 18)

In [ ]:
# 1. Drop irrelevant columns
if "neighbourhood_group" in New_Orleans_raw.columns:
    New_Orleans_raw.drop(columns=["neighbourhood_group"], inplace=True)
# 2. Handle missing values
New_Orleans_raw = New_Orleans_raw[New_Orleans_raw["price"].notnull() & (Chicago_raw["price"] > 0)]  # remove rows without price or invalid price
New_Orleans_raw["last_review"] = pd.to_datetime(New_Orleans_raw["last_review"], errors="coerce")  # convert to datetime
New_Orleans_raw.dropna(subset=["last_review"], inplace=True)  # remove rows with missing last_review
New_Orleans_raw["last_review"] = New_Orleans_raw["last_review"].dt.date  # keep only the date (remove time)
New_Orleans_raw["reviews_per_month"].fillna(0, inplace=True)  # missing reviews_per_month → 0
New_Orleans_raw["license"] = New_Orleans_raw["license"].fillna("Not Registered")
New_Orleans_raw['City'] = 'New_Orleans'

In [ ]:
New_Orleans_raw.shape

(4064, 18)

In [ ]:
# 1. Drop irrelevant columns
if "neighbourhood_group" in Chicago_raw.columns:
    Chicago_raw.drop(columns=["neighbourhood_group"], inplace=True)
# 2. Handle missing values
Chicago_raw = Chicago_raw[Chicago_raw["price"].notnull() & (Chicago_raw["price"] > 0)]  # remove rows without price or invalid price
Chicago_raw["last_review"] = pd.to_datetime(Chicago_raw["last_review"], errors="coerce")  # convert to datetime
Chicago_raw.dropna(subset=["last_review"], inplace=True)  # remove rows with missing last_review
Chicago_raw["last_review"] = Chicago_raw["last_review"].dt.date  # keep only the date (remove time)
Chicago_raw["reviews_per_month"].fillna(0, inplace=True)  # missing reviews_per_month → 0
Chicago_raw["license"] = Chicago_raw["license"].fillna("Not Registered")
Chicago_raw['City'] = 'Chicago'

In [ ]:
Chicago_raw.shape

(6113, 18)

In [ ]:
Final_DataSet = pd.concat([New_Orleans_raw, Chicago_raw],ignore_index=True)

In [ ]:
Airbnb_Final = Final_DataSet.to_csv("/content/drive/MyDrive/M2 Classroom Practice/Personal_Project/Airbnb_Combined.csv",index=False)